.pricing-table {
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    border-color: grey;
}
.pricing-thead {
    background-color: #039509;
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
        0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.pricing-thead tr th {
    color: white;
}