.navbar {
  padding: unset;
}
/* add padding to each of the nav bar list items*/
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
  padding: 1.2rem;
}

/* ============ only desktop view ============ */
@media all and (min-width: 768px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #f8f9fa;
    margin-top: 0 !important;
    border-radius: 0;
    z-index: 1000;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }

  /* .dropdown.nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  } */
  .dropdown-menu {
    margin-top: 0 !important;
    border-radius: 0;
    z-index: 1000;
  }
  .dropdown-item:hover {
    color: #039509;
  }
  .dropdown-item:active {
    background-color: #f8f9fa;
  }
}
/* ============ desktop view .end// ============ */
