.flex-grid-right {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: right;
  position: absolute;
  right: 0;
}

.flex-grid-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: left;
  position: absolute;
  left: 0;
}

.flex-grid-center {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}

.carousel-caption {
  /* stupid bootstrap forces me to position the caption like this */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}
p {
  font-weight: 500;
}

@media (max-width: 768px) {
  .flex-grid-right,
  .flex-grid-left,
  .flex-grid-center {
    width: 300px;
    position: absolute;
    text-align: center;
    /* move flexbox start to center then add a negative margin of half the box's size to center it */
    left: 50%;
    margin-left: -150px;
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
  }
  .carousel-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }
  a.carousel-control-next,
  a.carousel-control-prev,
  .carousel-indicators,
  .carousel-caption p {
    display: none;
  }
}
