.workout-pill.nav-link.active{
    background-color: #039509;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.workout-pill.nav-link {
    color: #039509;
    text-align: center;
    padding: 1rem;
    margin: auto;
}

.workout-pill.nav-link:hover {
    text-decoration: underline;
}

.workout-pill.nav-link:focus, .workout-pill.nav-link:visited, .workout-pill.nav-link:active
{
    outline: none !important;
    box-shadow: none !important;
}

.workout-tab-flex-column {
    flex-direction: column;
}

.workout-tab-scrollbar {
    position: relative;
    padding-left: 1rem;
    border-radius: 25px;
    background-color:#343a40;
    height: 400px;
    overflow: auto;
    border:8px solid #343a40;
    border-left: 8px solid #039509;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.2);
  }
  .workout-tab-wrapper-scroll-y {
    display: block;
  }

.workout-content {
    color: #ffffffdc;
    font-size: small;
}
.workout-content-header {
    font-size: medium;
    color: white;
    font-weight: bold;
    margin-bottom: 0rem;
}

.remove-bottom-spacing {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
