rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /schedules/Redwood%20City/schedule/{item} {
      allow read: if true;
    }
    // Matches any document in the dates collection as well as any document
    // in a subcollection.
    match /schedules/Redwood%20City/dates/{document=**} {
    	allow read: if true;
      allow write: if true;
    }
    match /workouts/{item} {
    	allow read: if request.auth != null;
      allow write: if request.auth.token.admin == true;
    }
  }
}