.callout-border {
  border: 0.15rem solid #039509;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.callout-text {
  margin: 0;
  padding: 1rem;
}

.flex-callout-box {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.flex-callout-box .col-text {
  flex: 3;
}
.flex-callout-box .col-btn {
  flex: 1;
}

@media (max-width: 768px) {
  .flex-callout-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
